@import url(https://fonts.googleapis.com/css?family=Figtree:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --primaryFont: "Figtree", "helvetica", "arial", sans-serif;
    --backgroundColor: #19191a;
    --hTexts: #2b2c34;
    --pTexts: #2b2c34;
}

body {
    background: linear-gradient(15deg, #014969, #0F92BB, #00E8C6, #0F92BB, #014969);
    font-family: var(--primaryFont);
    background-size: cover;
    backdrop-filter: blur(100px);
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
    transition: background 0.3s ease-in-out;
}

.container {
    flex-direction: column;
    max-width: 100vw;
    min-height: 95%;
    justify-content: center;
    padding: 1em;
    align-items: center;
}

.container-fluid {
    background-color: #00000080;
    position: sticky;
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
    transition: color 0.3s ease-in-out;
}

main {
    display: flex;
}

#blocker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-title-text>strong {
    color: #87bfec;
    text-shadow: #000000bb 1px 2px 5px;
}

.nav-links>li>a {
    color: aliceblue;
}

.nav-header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 8px 12px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ddd;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    /* Hidden by default */
    font-size: 20px;
    cursor: pointer;
}

.hamburger-menu a {
    text-decoration: none;
    color: #fff;
}

#visual-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#visual-header h2 {
    margin: 0.5em 0 0 0.75em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ai-analysis-btn {
    position: relative;
    max-width: max-content;
    max-height: 36px;
    margin: 0em 0.5em 0.5em 0.5em;
    padding: 0.5em 1em;
    z-index: 1000;
    font-size: 14px;
    background-color: #0F92BB;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.ai-analysis-btn:hover {
    background-color: #00e8c5a3;
    color: #222;
    border: 1px solid #01332c;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
    animation: glowAnimation 3s ease-in-out infinite;
    transform: scale(1.05);
}

.ai-analysis-btn:active {
    transform: scale(0.98);
    background-color: #014969;
    animation: none;
    box-shadow:
        inset 0 0 10px rgba(255, 255, 255, 0.4),
        inset 5px 0 15px rgba(255, 0, 255, 0.2),
        inset -5px 0 15px rgba(0, 255, 255, 0.2),
        0 0 10px rgba(255, 255, 255, 0.2),
        -3px 0 15px rgba(255, 0, 255, 0.2),
        3px 0 15px rgba(0, 255, 255, 0.2);
}

@keyframes glowAnimation {
    0%, 100% {
        box-shadow:
            inset 0 0 20px rgba(255, 255, 255, 0.5),
            inset 10px 0 30px rgba(255, 0, 255, 0.3),
            inset -10px 0 30px rgba(0, 255, 255, 0.3),
            0 0 20px rgba(255, 255, 255, 0.3),
            -5px 0 30px rgba(255, 0, 255, 0.3),
            5px 0 30px rgba(0, 255, 255, 0.3);
    }
    25% {
        box-shadow:
            inset 0 0 20px rgba(255, 255, 255, 0.5),
            inset -10px 0 30px rgba(255, 0, 255, 0.3),
            inset 10px 0 30px rgba(0, 255, 255, 0.3),
            0 0 20px rgba(255, 255, 255, 0.3),
            5px 0 30px rgba(255, 0, 255, 0.3),
            -5px 0 30px rgba(0, 255, 255, 0.3);
    }
    50% {
        box-shadow:
            inset 0 0 20px rgba(255, 255, 255, 0.5),
            inset 0 10px 30px rgba(255, 0, 255, 0.3),
            inset 0 -10px 30px rgba(0, 255, 255, 0.3),
            0 0 20px rgba(255, 255, 255, 0.3),
            0 5px 30px rgba(255, 0, 255, 0.3),
            0 -5px 30px rgba(0, 255, 255, 0.3);
    }
    75% {
        box-shadow:
            inset 0 0 20px rgba(255, 255, 255, 0.5),
            inset 10px 0 30px rgba(0, 255, 255, 0.3),
            inset -10px 0 30px rgba(255, 0, 255, 0.3),
            0 0 20px rgba(255, 255, 255, 0.3),
            -5px 0 30px rgba(0, 255, 255, 0.3),
            5px 0 30px rgba(255, 0, 255, 0.3);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#visualization-section {
    background-color: var(--chartBackground);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

#table-section,
#visualization-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffb5;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 2em;
    width: 95%;
    /* max-width: 1200px; */
}

#table-title,
#visualization-section h2 {
    color: #2b2c34;
    /* text-shadow: 1px 2px 3px #1f1f1f09; */
    margin-bottom: 1em;
}

#completed-samples-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#completed-samples-table th,
#completed-samples-table td {
    padding: 0.75em;
    text-align: left;
}

#completed-samples-table th {
    background-color: #19191a;
    color: #f3f3f3;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.85em;
}

#completed-samples-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#completed-samples-table tr:hover {
    background-color: #ddd;
}

#download-dataset-button {
    background-color: #2196f3;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1em;
}

#download-dataset-button:hover {
    background-color: #0d8bf2;
}

#chart-controls {
    display: flex;
    justify-content: center;
    margin: 0.5em 0 0.5em 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#chart-controls label {
    color: #333;
    padding: 1em 0.5em 1em 0.5em;
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 600;
}

#chart-controls select {
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 12px;
    color: #33333357;
    width: 20%;
    margin: 0 0 0 0;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 95%;
    margin: 1em 0 2em 0;
}

#d3-container {
    width: 100%;
    height: 400px;
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        /* Hide the links by default */
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        z-index: 100;
        animation: slideIn 0.3s ease forwards;
    }

    .nav-links.responsive {
        display: flex;
    }

    .hamburger-menu {
        display: block;
        /* Show hamburger icon on smaller screens */
    }

    #completed-samples-table {
        font-size: 0.8em;
    }

    #chart-controls {
        flex-direction: column;
        align-items: center;
    }

    #chart-controls select {
        width: 95%;
        margin-bottom: 10px;
    }

    #visualization-section {
        padding: 10px;
        width: 100%;
    }

    #visual-header {
        flex-direction: column;
        align-items: center;
    }

    #visual-header h2 {
        position: static;
        transform: none;
        margin: 0.5em 0;
    }

    .ai-analysis-btn {
        margin: 0.5em 0;
    }

    #chart-container {
        height: auto;
        max-height: none;
    }

    canvas#chart {
        max-width: 100%;
        height: auto !important;
    }

    #d3-container {
        height: auto;
        max-height: none;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    #visualization-section {
        padding: 5px;
    }

    .modal-content {
        width: 95%;
        margin: 5% auto;
        padding: 10px;
    }

    #ai-insights-content {
        max-height: 60vh;
    }
}

.insight-section {
    margin-bottom: 20px;
}

.insight-section h3 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.insight-section ul {
    padding-left: 20px;
    color: #222;
}

.insight-section li {
    margin-bottom: 5px;
}

#ai-insights-content {
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 15px;
}

#insights-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}