@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");

:root {
    --primaryFont: "Fredoka", sans-serif;
    --backgroundColor: #19191a;
    --primaryColor: #6246ea;
    --hTexts: #2b2c34;
    --pTexts: #2b2c34;
}

body {
    background: var(--backgroundColor);
    font-family: var(--primaryFont);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
}

.hgroup > * {
    color: white;
}

@media screen and (max-width: 480px) {
    .section {
        border-radius: 10px;
        padding: 1rem;
        box-sizing: border-box;
        background-color: #f2f2f2;
        color: black;
        max-height: 15%;
        max-width: 95%;
        grid-template-columns: 1fr;
    }

    #landing-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: center;
    }
}

#new-sample-form {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: column;
}

#confirmation-message-text > h2 {
    color: red;
    text-align: center;
}

#confirmation-message-text > h3 {
    color: #f2f2f2;
    text-align: center;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.section {
    display: grid;
    border-radius: 10px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    box-sizing: border-box;
    background-color: #ffffffef;
    backdrop-filter: blur(20px);
    color: black;
    min-height: 35vh;
    min-width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    justify-items: center;
}

.section-title {
    max-height: 50px;
    max-width: fit-content;
}

#landing-main {
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.card {
    background-color: #f2f4f6b0;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    min-width: 100px;
    margin: 0.25em 0.25em 0.5em 0.25em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border: #000000b6 0.9px solid;
}

.card h3 {
    font-size: 1em;
    line-height: 1em;
    color: #000000;
    font-weight: bold;
    margin: 10px 0;
}

.card p {
    font-size: 1rem;
    line-height: 1.3rem;
    color: #535353;
    margin: 10px auto;
    max-width: 85%;
}

.card button {
    font-size: 1.1rem;
    font-weight: bold;
    /* padding: 15px 80px; */
    border-radius: 25px;
    color: #00214d;
    border: 0;
    min-width: 100px;
    margin: 10px 0;
    outline: none;
    background-color: #00ebc7;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(255, 255, 255, 0.7); */
    transition: ease all 0.3s;
    cursor: pointer;
}

.card button:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
}

.card button:active {
    transform: scale(0.9);
    box-shadow: inset -1px -1px 3px rgba(0, 0, 0, 0.2), -20px -20px 20px rgba(255, 255, 255, 0.7);
}

#card-text-id {
    font-weight: bolder;
    text-decoration: underline;
}

.ready-for-pickup-button {
    max-width: 50%;
    margin-left: 25%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    width: 80%;
}

.close-button {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}