flask>=2.2.5
flask_cors==5.0.0
firebase-admin==5.2.0
python-dotenv==0.19.1
requests>=2.31.0
pymongo==4.8.0
gunicorn==22.0.0
Flask-Mail==0.10.0
twilio==9.2.3
apscheduler>=3.10.1
pytz>=2023.3
openai>=1.2.0